/* General */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #fff;
}

.container {
  border: 1px solid #555;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 50%;
  background-color: #333;
}

.about_container {
  border: 1px solid #555;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  width: 70%;
  background-color: #333;
}

.profile_img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin-top: 20px;
}

/* CSS styles for the menu */
.menu {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease;
}

.menu a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #555;
}

/* CSS styles for the footer */
#footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer a {
  color: #fff;
  text-decoration: none;
  width: 50%;
  height: 50%;
}

#footer a:hover {
  color: #878787;
}

.footer_img {
  width:  15%;
  height: 2%;
  margin: 10px;
}

.footer_img:hover {
  opacity: 0.5;
}

/* CSS styles for social media icons */
.social_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social_container a {
  width: 50%;
  height: 50%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.social_container a:hover {
  color: #878787;
}

.social_img {
  width: 5%;
  height: 5%;
  margin: 10px;
}

/* CSS styles for the file upload section */
#subir_container {
  margin-top: 50px;
}

.file-upload {
  border: 2px dashed #555;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #999;
  background-color: #222;
  transition: border-color 0.3s ease;
}

.file-upload.dragover {
  border-style: solid;
  border-width: 4px;
  border-color: #aaa;
  background-color: #555;
}

/* CSS styles for sections */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* CSS styles for the navigation panel */
#panel_navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#panel_navegacion div {
  text-align: center;
  margin-right: 0;
  width: fit-content;
  height: fit-content;
}

.panel_abajo div {
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
}

.element_panel {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #333;
}

.panel_img {
  width: 30%;
  height: 30%;
  margin: 10px;
}

/* CSS styles for Gráficas */

#graficas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* CSS styles for Tablas */

#tablas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
